
{% extends 'base.html' %}

{% block title %}
productsnew
{% endblock title %}

{% block content %}
<br>
<h3>new product</h3>
<br>
<br>
  <form method="post">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="productname">productname</label>
        <input type="text" name="productname" id="productname" class="form-control">
    </div>
    <div class="form-group">
        <label for="abbr">Abbreviation</label>
        <input type="text" name="abbr" id="abbr" class="form-control">
    </div>

    <div class="form-group">
        <label for="parts">parts</label>
        <input type="text" name="parts" id="parts" class="form-control">
    </div>

    <div class="form-group">
        <label for="description">description</label>
        <input type="text" name="description" id="description" class="form-control">
    </div>

    <br>

    <div class="form-group">
        <input type="submit" value="Save" class="submit-btn">
    </div>
</form>
{% endblock content %}
