{% extends 'base.html' %}

{% block title %}
products
{% endblock %}

}
    {% block content %}
    <h1><b>&nbsp;products</b></h1>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">productname</th>
                <th scope="col">abbr</th>
                <th scope="col">parts</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->

                {% for product in products %}
                <tr>
                    <td>{{ product.Productname }}</td>
                    <td>{{ product.Abbr }}</td>
                    <td>{{ product.Parts }}</td>
                    <td>
                        <a class="btn btn-outline btn-info" href="{{ url_for('productsedit', id = product.Id ) }} ">edit</a> 
                        <a class="btn btn-outline btn-info" href="{{ url_for('productsdelete', id = product.Id ) }} ">delete</a> 
                        <a class="btn btn-outline btn-info" href="{{ url_for('productsusers', id = product.Id ) }} ">students</a> 
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    {% endblock %}
