<!-- source: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->

{% extends 'base.html' %}

{% block title %}
support
{% endblock %}

{% block content %}
<h1>&nbsp;support</h1>

<br>
<a href="https://github.com/jimdevops19/codesnippets/tree/main/Flask%20Full%20Series">jimdevops19</a>
<a href="https://github.com/jimdevops19/FlaskSeries">2</a>
<br>
<a href="http://127.0.0.1:5000/products">http://127.0.0.1:5000/products</a>
<br>
<a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">https://getbootstrap.com/docs/5.0/getting-started/introduction/</a>
<br>
<a href="<a href="https://documentation.bloomreach.com/engagement/docs/jinja">https://documentation.bloomreach.com/engagement/docs/jinja</a>
<br>
<a href="<a href="https://patorjk.com/software/taag/#p=display&f=Banner3&t=models.py%20">ascii art</a>
<br>
{% endblock %}
