
{% extends 'base.html' %}

{% block title %}
appointments
{% endblock %}

{% block content %}
<h3>&nbsp;appointments</h3>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">part</th>
            <th scope="col">date</th>
            <th scope="col">time</th>
            <th scope="col">instructor</th>
            {% if 'staff' in lRBAC [1] %}
            <th scope="col">notes</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->

            {% for appointment in appointments %}
            <!-- { % if (appointment [1] == lRBAC [2]) or ('staff' in lRBAC [1]) % } -->
            <tr>
                <td>{{ appointment [4] }} {{ appointment [5] }}</td>
                <td>
                    <div class="form-group">
                        <input type="date" name="date{{ appointment [0] }}" id="date{{ appointment [0] }}" value="{{ appointment [6].strftime('%Y-%m-%d') }}" class="form-control">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="time" name="time{{ appointment [0] }}" id="time{{ appointment [0] }}" value="{{ appointment [6].strftime('%H:%M') }}" class="form-control">
                    </div>
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
<div class="form-group">
    <input type="submit" value="Save" class="submit-btn">
</div>

{% endblock %}

