{% extends 'base.html' %}

{% block title %}
appointmentsedit
{% endblock title %}

{% block content %}

<h3>edit appointment</h3>
<br>
<form method="post">
{{ form.hidden_tag() }}
<table>
    <tr><td style="width:100px">name</td>   <td style="width:200px">{{ appointment [2] }} {{ appointment [3] }}</td></tr>
    <tr><td>product</td><td>{{ appointment [4] }}</td></tr>
    <tr><td>part</td>   <td>{{ appointment [5] }}</td></tr>

    <tr><td><label for="staff">instructor </label>
    </td><td>
    <select name="instructor" id="instructor">
        {% for i in instructors %}
        <option value="{{ i.Name }}"
        
        {% if i.Name == appointment[8] %}
            selected
        {% endif %}
        
        >{{ i.Name }}</option>
        {% endfor %}
    </select>
    </td></tr>    
    <tr><td><label for="assistants">assistant </label>
    </td><td>
    <select name="assistants1" id="assistants1">
        <option value="{{ 'none' }}">{{ none }}</option>
        {% for a in assistants  %}
            {% if (a.Firstname + ' ' + a.Lastname) != "no ne" %}
                <option value="{{ a.Firstname + ' ' + a.Lastname}}"
                {% if (appointment[10]|length == 0) and (a.Name == '[none]') %}
                    selected
                {% endif %}

                {% if (a.Firstname + ' ' + a.Lastname) in appointment [10] %}
                    selected
                {% endif %}
            
                >{{ a.Firstname + ' ' + a.Lastname }}</option>
            {% endif %}
        {% endfor %}
    </select>
    </td></tr>    

    <!-- https://strftime.org/ -->
<table>
    <tr>
        <td style="width:100px">
            <label for="date">date</label>
        </td>
        <td style="width:200px">
            <input type="date" name="date" id="date" value="{{ appointment [6].strftime('%Y-%m-%d') }}" class="form-control">
        </td>
    </tr>    
    <tr>
        <td>
            <label for="time">time</label>
        </td>
        <td>
            <input type="time" name="time" id="time" value="{{ appointment [6].strftime('%H:%M') }}" class="form-control">
        </td>
    </tr>    
</table>
<table>
    <tr>
        <td style="width:100px">
            {{ form.note.label() }}
        </td>
        <td>
            {{ form.note(placeholder="note", cols="148", rows="8" ) }}
        </td>
    </tr>    
</table>
<table>
    <tr>
        <td style="width:100px">
        </td>
        <td style="width:100px">
            {{ form.save(class="btn btn-lg btn-block btn-primary") }}
        </td>
        <td  style="width:100px">
            {{ form.cancel(class="btn btn-lg btn-block btn-primary") }}
        </td>
    </tr>
</table>
</form>
{% endblock content %}
