{% extends 'base.html' %}

{% block title %}
appointmentsevents
{% endblock title %}

{% block content %}

{% set cDate = namespace(value = lRBAC[4].strftime('%Y-%m-%d')) %}
{% set cTime = namespace(value = "20:00") %}

{% set cDateUrl  = namespace(value = request.url.split('/')[5] ) %}
{% set cDateUrl2 = namespace(value = cDateUrl.value.split('-')[2] + "-" + cDateUrl.value.split('-')[1] +"-"+ cDateUrl.value.split('-')[0]) %}

{% set cSelectedInstructor = namespace(value = "") %}
{% set cSelectedAssistant  = namespace(value = "") %}

<h3>appointment event {{ cDateUrl.value }}</h3>

<br>
  <form method="post">
    {{ form.hidden_tag() }}
<table>
    <tr><td  style='width:200px'><b>date</b></td><td  style='width:200px'><b>time</b></td><td style='width:200px'><b>student</b></td>
                      <td  style='width:200px'><b>product</b></td><td  style='width:200px'><b>part</b></td><td  style='width:200px'><b>instructor</b></td><td  style='width:200px'><b>assistant</b></td></tr>

    {% for ap in appointments %}
        <tr><td>{{ ap[6].strftime("%d-%m-%Y") }}</td><td>{{ ap[6].strftime("%H:%M") }}</td><td>{{ ap[2] + ' ' + ap[3] }}{% if not ap[12] %} <font color="gray">*</font>{% endif %}</td><td>{{ ap[4] }}</td><td>{{ ap[5] }}</td>

            {% set cDate.value = ap[6].strftime("%Y-%m-%d") %}
            {% set cTime.value = ap[6].strftime("%H:%M") %}

            <td>
                <select name="instructor{{ ap[0] }}" id="instructor{{ ap[0] }}" style="border-radius: 5px; padding: 7px;">
                    {% for i in instructors %}
                        <option value='{{ i.Name }}'
                        {% if i.Name == ap[8] %}
                           selected
                           {% set cSelectedInstructor.value = ap[8] %}
                        {% endif %}
                        >{{ i.Name }}</option>
                    {% endfor %}
                </select>
            </td>
    
            <td>
                <select name="assistant{{ ap[0] }}" id="assistant{{ ap[0] }}" style="border-radius: 5px; padding: 7px;">
                    <option value='none'>none</option>

                    {% for as in assistants %}
                        <option value='{{ as.Firstname }} {{ as.Lastname}}'
                        debug:{{ as.Firstname }} {{ as.Lastname }} {{ ap[11] }}
                        {% if (as.Firstname + ' ' + as.Lastname) == ap[11] %}
                           {% set cSelectedAssistant.value = ap[11] %}
                           selected
                        {% endif %}
                        >{{ as.Firstname }} {{ as.Lastname}}</option>
                    {% endfor %}
                </select>
            </td>

    </tr>
    {% endfor %}
  
    <tr><td>
        <input type="date" name="date00" id="date00" value="{{ cDateUrl2.value|string() }}" class="form-control">
    </td><td>
        <input type="time" name="time00" id="time00" value="{{ cTime.value|string() }}" class="form-control">
    </td><td>
        <input type="text" name="newstudent" id="newstudent" value="" class="form-control">
    </td><td></td><td></td>

    {% if cSelectedInstructor.value == "" %}
      {% set cSelectedInstructor.value = "[none]" %}
    {% endif %}

    <td>
        <select name="instructor00" id="instructor00" style="border-radius: 5px; padding: 7px;">
            {% for i in instructors %}
                <option value='{{ i.Name }}'
                {% if (i.Name) == cSelectedInstructor.value %}selected{% endif %}
                >{{ i.Name }}</option>
            {% endfor %}
        </select>
    </td>

    <td>
        <select name="assistant00" id="assistant00}}" style="border-radius: 5px; padding: 7px;">
            <option value='none'>none</option>
        {% for a in assistants %}
                <option value='{{ a.Firstname }} {{ a.Lastname}}'
                {% if (a.Firstname + ' ' + a.Lastname) == cSelectedAssistant.value %}selected{% endif %}
                >{{ a.Firstname }} {{ a.Lastname}}</option>
            {% endfor %}
        </select>
    </td>

    <td></td></tr>

</table>
<br>
<div class="form-group">
    <div class="form-group">
        <input type="submit" value="Save" class="submit-btn" style="border-radius: 5px; padding: 7px;>
    </div>
</form>

{% endblock content %}
