{% extends 'base.html' %}

{% block title %}
appointmentsevents
{% endblock title %}

{% block content %}

{% set cDate = namespace(value = lRBAC[4].strftime('%Y-%m-%d')) %}
{% set cTime = namespace(value = "20:00") %}

{% set cDateUrl  = namespace(value = request.url.split('/')[5] ) %}
{% set cDateUrl2 = namespace(value = cDateUrl.value.split('-')[2] + "-" + cDateUrl.value.split('-')[1] +"-"+ cDateUrl.value.split('-')[0]) %}

{% set cSelectedInstructor = namespace(value = "") %}
{% set cSelectedAssistant  = namespace(value = "") %}

{% set cAssistantName  = namespace(value = "") %}

<h3>appointment event {{ cDateUrl.value }}</h3>

<br>
  <form method="post">
    {{ form.hidden_tag() }}
<table>
    <tr><td  style='width:200px'><b>date</b></td><td  style='width:200px'><b>time</b></td><td style='width:200px'><b>student</b></td>
                      <td  style='width:200px'><b>product</b></td><td  style='width:200px'><b>part</b></td><td  style='width:200px'><b>instructor</b></td><td  style='width:200px'><b>assistant</b></td></tr>

    {% for ap in appointments %}
        <tr><td>{{ ap[6].strftime("%d-%m-%Y") }}</td><td>{{ ap[6].strftime("%H:%M") }}</td><td>{{ ap[2] + ' ' + ap[3] }}{% if not ap[12] %} <font color="gray">*</font>{% endif %}</td><td>{{ ap[4] }}</td><td>{{ ap[5] }}</td>

            {% set cDate.value = ap[6].strftime("%Y-%m-%d") %}
            {% set cTime.value = ap[6].strftime("%H:%M") %}

            <td>
                <select name="instructor{{ ap[0] }}" id="instructor{{ ap[0] }}" style="border-radius: 5px; padding: 7px;">
                    {% for i in instructors %}
                        <option value='{{ i.Name }}'
                        {% if i.Name == ap[8] %}
                           selected
                           {% set cSelectedInstructor.value = ap[8] %}
                        {% endif %}
                        >{{ i.Name }}</option>
                    {% endfor %}
                </select>
            </td>
    
            <td>
                <select name="assistant{{ ap[0] }}" id="assistant{{ ap[0] }}" style="border-radius: 5px; padding: 7px;">

                    {% for as in assistants %}
                        {% set cAssistantName.value = as.Firstname + ' ' + as.Lastname %}
                        {% if cAssistantName.value == 'no ne' %}
                            {% set cAssistantName.value = 'none' %}
                        {% endif %}
                        <option value='{{ cAssistantName.value }}'
                        {% if ( cAssistantName.value ) == ap[11] %}
                           {% set cSelectedAssistant.value = ap[11] %}
                           selected
                        {% endif %}
                        >{{ cAssistantName.value }}</option>
                    {% endfor %}
                </select>
            </td>

    </tr>
    {% endfor %}
  
    <tr><td>
        <input type="date" name="date00" id="date00" value="{{ cDateUrl2.value|string() }}" class="form-control">
    </td><td>
        <input type="time" name="time00" id="time00" value="{{ cTime.value|string() }}" class="form-control">
    </td><td>
        <input type="text" name="newstudent" id="newstudent" value="" class="form-control">
    </td><td></td><td></td>

    {% if cSelectedInstructor.value == "" %}
      {% set cSelectedInstructor.value = "[none]" %}
    {% endif %}

    {% if cSelectedAssistant.value == "" %}
      {% set cSelectedAssistant.value = "none" %}
    {% endif %}
    {% if cSelectedAssistant.value == "no ne" %}
      {% set cSelectedAssistant.value = "none" %}
    {% endif %}

    <td>
        <select name="instructor00" id="instructor00" style="border-radius: 5px; padding: 7px;">
            {% for i in instructors %}
                <option value='{{ i.Name }}'
                {% if (i.Name) == cSelectedInstructor.value %}selected{% endif %}
                >{{ i.Name }}</option>
            {% endfor %}
        </select>
    </td>

    <td>
        <select name="assistant00" id="assistant00}}" style="border-radius: 5px; padding: 7px;">
        {% for a in assistants %}
            {% set cAssistantName.value = a.Firstname + ' ' + a.Lastname %}
            {% if cAssistantName.value == 'no ne' %}
                {% set cAssistantName.value = 'none' %}
            {% endif %}
            <option value='{{ cAssistantName.value }}'
                {% if (cAssistantName.value) == cSelectedAssistant.value %}selected{% endif %}
                >{{ cAssistantName.value }}</option>
            {% endfor %}
        </select>
    </td>

    <td></td></tr>

</table>
<br>

<div class="form-group">
    <table>
        <tr>
            <td style="width:200px">{{ form.save(class="btn btn-lg btn-block btn-primary") }}</td>
            <td style="width:200px">{{ form.cancel(class="btn btn-lg btn-block btn-primary") }}</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-check-input" type="checkbox" value="checked" id="autofillin" name="autofillin">
            <label class="form-check-label" for="autofillin">
                auto fill in
            </label>
            </td>
        </tr>
    </table>
</div>

{% endblock content %}
