{% extends "base.html" %}

{% block content %}
    <h1>login</h1>

    {% if not (message == "") %}
    <br>
    message: {{ message }}
    <br>
    <br>
    {% endif %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <table>
            <tr>
                <td style="width:200px">
                    <div class="w-25 row">
                    {{ form.username(cols=32, class="form-control", placeholder="emailaddress") }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="w-25 row">
                        {{ form.password(cols=32, class="form-control", placeholder="password") }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="w-10 row">
                        {{ form.submit() }}
                    </div>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}