{% extends 'base.html' %}

{% block title %}
products
{% endblock %}

    {% block content %}
    <h3><b>&nbsp;products</b></h3>

    <table class="table table-hover table-dark tableFixHead">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">productname</th>
                <th scope="col">abbr</th>
                <th scope="col">parts</th>
                {% if 'staff' in lRBAC [1] %}
                <th scope="col">state</th>
                <th scope="col">actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->

                {% for product in products %}
                <tr>
                    <td>{{ product.Productname }}</td>
                    <td>{{ product.Abbr }}</td>
                    <td>{{ product.Parts }}</td>
                    <td>{% if product.Active %}active{% else %}unactive{% endif %}</td>
                    <td>
                        {% if 'staff' in lRBAC [1] %}
                            <a class="btn btn-sm btn-outline btn-info" href="{{ url_for('productsedit', id = product.Id ) }} ">edit</a> 
                            {% if 'admin' in lRBAC [1] %}
                                {% if product.Active %}
                                    <a class="btn btn-sm btn-outline btn-info" href="{{ url_for('productsdelete', id = product.Id ) }} ">deactivate</a>
                                {% else %}
                                    <a class="btn btn-sm btn-outline btn-info" href="{{ url_for('productsundelete', id = product.Id ) }} ">activate</a>
                                {% endif %} 
                            {% endif %}
                            <a class="btn btn-sm btn-outline btn-info" href="{{ url_for('productsusers', id = product.Id ) }} ">students</a> 
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <br>
    {% if 'staff' in lRBAC [1] %}
        <a class="btn btn-outline btn-info" href="{{ url_for('productsnew') }} ">new product</a> 
    {% endif %}
    {% endblock %}
