
{% extends 'base.html' %}

{% block title %}
productsedit
{% endblock title %}

{% block content %}
<br>
<h3>product {{ product.Productname }}</h3>
<form method="post">
    {{ form.hidden_tag() }}
    <br>
    <table>
        <tr>
            <td>
                <div class="form-group">
                    <label for="abbr">Abbreviation</label>
                    <input type="text" name="abbr" id="abbr" value="{{ product.Abbr }}" class="form-control">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label for="parts">part(s)</label>
                    <input type="text" name="parts" id="parts" value="{{ product.Parts }}" class="form-control">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <label for="description">description</label>
                    <input type="text" name="description" id="description" value="{{ product.Description }}" class="form-control">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.note.label() }}<br>
                {{ form.note(placeholder="note", cols="148", rows="8" ) }}
            </td>
        </tr>
    </table>
    <br>
    <div class="form-group">
        <table>
            <tr>
                <td style="width:200px">{{ form.save(class="btn btn-lg btn-block btn-primary") }}</td>
                <td style="width:200px">{{ form.cancel(class="btn btn-lg btn-block btn-primary") }}</td>
            </tr>
        </table>
    </div>
</form>
{% endblock content %}
