{% extends 'base.html' %}

{% block title %}
registerform2
{% endblock %}

{% block content %}

    <div class="container">
        <form method="POST" class = "registerform2" style = "color:white">
            {{ form.csrf_token }}

            <h2 class="h3 mb-3 font-weight-normal">
            {{ user.Username }}
            </h2>
            <br>

            {{ form.firstname.label() }}
            {{ form.firstname(class = "form-control",    placeholder = "firstname",    value = user.Firstname ) }}
            <br>
            {{ form.lastname.label() }}
            {{ form.lastname(class = "form-control",     placeholder = "lastname",     value = user.Lastname ) }}
            <br>

            {{ form.phone.label() }}
            {{ form.phone(class = "form-control",        placeholder = "phone",        value = user.Phone ) }}
            <br>

            {{ form.emailaddress.label() }}
            {{ form.emailaddress(class = "form-control", placeholder = "emailaddress", value = user.Emailaddress ) }}
            <br>

            {{ form.note.label() }}<br>
            {{ form.note(placeholder="note", cols="148", rows="8" ) }}
            <br>
            {% if ('admin' in lRBAC [1]) or ( user.Username == lRBAC [0] ) %}
              {{ form.password.label() }}
              {{ form.password(class = "form-control", placeholder = "new password", value = "" ) }}
            {% endif%}
            
            <br>
            status<br>

            {% if ('staff' in lRBAC [1]) %}
              {% for l in listStatus %}
                {% if (l.Name == 'admin') and ('admin' not in lRBAC [1]) %}
                  {% if (l.Name in user.Status) %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="{{ l.Name }}" checked disabled>
                      <label class="form-check-label" for="{{ l.Name }}">
                        {{ l.Name }}
                      </label>
                    </div>                
                  {% else %}
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="{{ l.Name }}" disabled>
                    <label class="form-check-label" for="{{ l.Name }}">
                      {{ l.Name }}
                    </label>
                  </div>                
                {% endif %}
                {% else %}

                  <input type="checkbox" name={{ l.Name }} id={{ l.Name }} value={{ l.Name }}
            
                  {% if (l.Name in user.Status) %}
                    checked
                  {% endif %}

                  >&nbsp;&nbsp;{{ l.Name }}<br>
                {% endif %}
              {% endfor %}
            {% endif %}

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>

{% endblock %}

