<!-- source: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->

{% extends 'base.html' %}

{% block title %}
htmlexport
{% endblock %}

{% block content %}
<h3>&nbsp;htmlexport</h3>
<br>
<body style="font-family:verdana">
{% if current_user.is_authenticated %}
	{% if 'admin' in lRBAC[1] %}
		<a class="btn btn-outline btn-info" href="{{ url_for('htmlexport' ) }}">create htmlexport</a>
		<a class="btn btn-outline btn-info" href="{{ url_for('static', filename='./Internal/index.html') }}" target=”_blank”>open internal htmlexport</a>
		<a class="btn btn-outline btn-info" href="{{ url_for('ftp') }} ">upload htmlexport</a>
		<a class="btn btn-outline btn-info" href="https://www.maidiving.nl/staf/agenda/divescheduling/index.html" target=”_blank”>open external htmlexport</a><br>
        <br>
		<a class="btn btn-outline btn-info" href="https://www.maidiving.nl/staf/agenda/index.html" target='_blank'>open agenda uit excel</a>
	{% endif %}
{% endif %}
</body>
</html>
{% endblock %}
