
{% extends 'base.html' %}

{% block title %}
product
{% endblock title %}

{% block content %}

<br>
<h1>Product: {{ appointment.Part }}</h1>
<br>
<br>
  <form method="post">
    {{ form.hidden_tag() }}

    <!--
    User    = db.Column(db.Integer(),     ForeignKey('Users.Id'),              nullable=False, unique=False)
    Product = db.Column(db.Integer(),     ForeignKey('Products.Id'),           nullable=False, unique=False)
    Part    = db.Column(db.String(length=5),                                   nullable=True,  unique=False)
    Date    = db.Column(db.DateTime(timezone=True))
    Time    = db.Column(db.String(length=5),                                   nullable=True,  unique=False)
    Notes   = db.Column(db.String(length=128),                                 nullable=True,  unique=False)
    Staff   = db.Column(db.Integer(),                                          nullable=False, unique=False)
    -->

    <input type="text" id="search" onkeyup="search()" placeholder="search">
    <ul id="results"></ul>


    <div class="form-group">
        <label for="user">User</label>
        <input type="text" name="user" id="user" value="{{ appointment.User }}" class="form-control">
    </div>

    <div class="form-group">
        <label for="product">product</label>
        <input type="text" name="product" id="product" value="{{ appointment.Product }}" class="form-control">
    </div>

    <div class="form-group">
        <label for="part">part</label>
        <input type="text" name="part" id="part" value="{{ appointment.Part }}" class="form-control">
    </div>

    <div class="form-group">
        <label for="staff">part</label>
        <input type="text" name="staff" id="staff" value="{{ appointment.Staff }}" class="form-control">
    </div>

    <div class="form-group">
        <label for="time">date</label>
        <input type="text" name="date" id="date" value="{{ appointment.Date }}" class="form-control">
    </div>

    <div class="form-group">
        <label for="time">time</label>
        <input type="text" name="time" id="time" value="{{ appointment.Time }}" class="form-control">
    </div>

    <div class="form-group">
        <label for="time">notes</label>
        <input type="text" name="notes" id="notes" value="{{ appointment.Notes }}" class="form-control">
    </div>

    <br>

    <div class="form-group">
        <input type="submit" value="Save" class="submit-btn">
    </div>
</form>
{% endblock content %}
