{% extends 'base.html' %}

{% block title %}
UserInfo
{% endblock %}

{% block content %}
    {% if ('admin' in lRBAC [1]) %} <br>usersinfo.html {% endif %}

    {% set cProducts = namespace(value = '') %}

    <form method="post">
    {{ form.hidden_tag() }}

    <br>
    <table>
        <tr><td><b>&nbsp;username&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></td><td>{{ user.Username}}</b></td></tr>
        <tr><td>&nbsp;firstname&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>{{ user.Firstname }}</td></tr>
        <tr><td>&nbsp;lastname&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>{{ user.Lastname }}</td></tr>
        <tr><td>&nbsp;phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>{{ user.Phone }}</td></tr>
        <tr><td>&nbsp;emailaddress&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>{{ user.Emailaddress }}</td></tr>
        <tr><td>&nbsp;info&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>{{ user.Info }}</td></tr>
        <tr><td>&nbsp;status&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>{{ user.Status }}</td></tr>

    </table>
    <br>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">date</th>
                <th scope="col">student</th>
                <th scope="col">course</th>
                <th scope="col">part</th>
                <th scope="col">staff</th>
                <th scope="col">notes</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
    
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment [6] }}</td>
                    <td>{{ appointment [2] + ' ' + appointment [3] }}</td>
                    <td>{{ appointment [4] }}</td>
                    <td>{{ appointment [5] }}</td>
                    <td>{{ appointment [8] }}</td>
                    <td> 
                        <!-- RBAC filter -->
                        {% if (('staff' in lRBAC [1]) and (appointment [6] >= lRBAC [4] )) or ('admin' in lRBAC [1]) %}
                            <a class="btn btn-outline btn-info" href="{{ url_for('appointmentsedit',id=appointment.Id ) }} ">edit</a> 
                            <a class="btn btn-outline btn-info" href="{{ url_for('appointmentsdelete',id=appointment.Id ) }} ">del</a> 
                        {% endif %}
                        {% if ('staff' in lRBAC [1]) or ('admin' in lRBAC [1]) %}
                            <!-- show one form per product -->
                            {% if ("[" + appointment [4]|string() + "]" not in cProducts.value|string() ) %}
                                <a class="btn btn-outline btn-info" href="{{ url_for('usersproduct2',id=appointment.Id ) }} ">form</a> 
                                {% set cProducts.value = cProducts.value + "[" + appointment [4] + "]" %}
                            {% endif %}                                       
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>

    <br>
    {% if 'staff' in lRBAC [1] %}
    <h3>add product</h3>
    <br>
    {% for p in products %}
    &nbsp;<input type="checkbox" name={{ p.Productname }} id={{ p.Productname }} value={{ p.Productname }}
    >&nbsp;{{ p.Productname }}<br>
    {% endfor %}
    <br>
    date: <input type="date" name="datefrom" id="datefrom" value="{{ cDateToday }}">
    <br>
    <br>
    <div class="form-group">
        <input type="submit" value="Save" class="submit-btn">
    </div>
    {% endif %}
</form>
    {% endblock %}
