
{% extends 'base.html' %}

{% block title %}
instructorsinfo
{% endblock %}

{%block content %}
<h3>&nbsp;instructor</h3>
<br>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">date</th>
            <th scope="col">student</th>
            <th scope="col">product</th>
            <th scope="col">part</th>
            <th scope="col">instructor</th>
            <th scope="col">notes</th>
        </tr>
    </thead>
    <tbody>
        <!-- Your rows inside the table HERE: -->

            {% for appointment in appointments %}
            <tr>
                <td>{{ appointment [6] }}</td> {# date #}
                <td>{{ appointment [2] + ' ' + appointment [3] }} [{{ appointment [1] }}]</td> {# studentname #}
                <td>{{ appointment [4] }}</td> {# product #}
                <td>{{ appointment [5] }}</td> {# part #}
                <td>{{ appointment [8] }} [{{ appointment [7] }}]</td> {# instructor #}
                <td> 
                    <!-- <a class="btn btn-outline btn-info" href="{ { url_for('appointmentsedit',   id = appointment.Id ) } } ">edit</a> -->
                    {% if (('staff' in lRBAC [1]) and (appointment [6] >= lRBAC [4] )) or ('admin' in lRBAC [1]) %}
                        <a class="btn btn-outline btn-info" href="{{ url_for('appointmentsedit',     id = appointment.Id , cFrom ='instructorsinfo' ) }} ">edit</a> 
                        <a class="btn btn-outline btn-info" href="{{ url_for('appointmentsdelete',   id = appointment.Id , cFrom ='instructorsinfo') }} ">del</a> 
                        {% if appointments [8] == 1 %} 
                            <a class="btn btn-outline btn-info" href="{{ url_for('appointmentsassign',   id = appointment.Id, cFrom ='instructorsinfo' ) }} ">mine</a>
                        {% endif %}
                        {% if appointments [8] == lRBAC [3] %} 
                            <a class="btn btn-outline btn-info" href="{{ url_for('appointmentsunassign', id = appointment.Id, cFrom ='instructorsinfo' ) }} ">unmine</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>

{% endblock %}

