{% extends 'base.html' %}

{% block title %}
register user
{% endblock %}

{% block content %}

    <div class="container">
        <form method="POST" class = "registerform2" style = "color:white">
            {{ form.csrf_token }}

            <h1 class="h3 mb-3 font-weight-normal">
            username {{ user.Username }}
            </h1>
            <br>

            {{ form.firstname.label() }}
            {{ form.firstname(class = "form-control",    placeholder = "firstname",    value = user.Firstname ) }}

            {{ form.lastname.label() }}
            {{ form.lastname(class = "form-control",     placeholder = "lastname",     value = user.Lastname ) }}

            {{ form.phone.label() }}
            {{ form.phone(class = "form-control",        placeholder = "phone",        value = user.Phone ) }}

            {{ form.emailaddress.label() }}
            {{ form.emailaddress(class = "form-control", placeholder = "emailaddress", value = user.Emailaddress ) }}

            {% for l in listStatus %}
            <input type="checkbox" name={{ l }} id={{ l }} value={{ l }}
            
            {% if l in user.Status %}
              checked
            {% endif %}

            >&nbsp;{{ l }}<br>
            {% endfor %}

            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>

{% endblock %}

